:root {
  --default-font: "Montserrat", sans-serif;
  --background-color: rgb(216 191 216 / 40%);
  --text-color: #fff;
  --primary-color: #7245b6;
  --secondary-color: #f3f4f6;
  --info-color: #296780;
  --gray-color: rgb(77, 75, 75);
  --success-color: #109d48;
  --danger-color: #d63030;
  --warning-color: #e7b51c;
  --font-color: #333;
  --secondary-font-color: #917575;
  --nav-bar-border: rgba(36, 31, 31, 0.103);
  --scroll-hover: #633f99;
  --btn-link: #3b2957;
  --card-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
