.card {
  max-width: 30rem;
  width: 100%;
  height: max-content;
  margin: 1rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: var(--card-shadow);
  position: relative;
}

.card-head {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
}

.card-header {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  grid-column: 1/-1;
  overflow: hidden;
}

.card-image {
  position: relative;
  grid-column: 1/-1;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
  max-height: 200px;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
}

.card-subtitle {
  font-weight: 500;
}

.card-body {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.card-text {
  font-size: 1.4rem;
  color: var(--font-color);
}

/* SOCIAL CARD */
.social .card-header {
  display: flex;
  align-items: center;
  order: -1;
  margin: 1rem 0;
}

/* ECOMMERCE CARD */
.ecommerce .card-image {
  grid-column: 1;
}

.card-price {
  font-size: 1.5rem;
}

.card-badge {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  text-align: left;
  padding: 0.3rem 1rem;
  top: 1.5rem;
  z-index: 2;
  clip-path: polygon(100% 0, 91% 48%, 100% 100%, 0% 100%, 0 44%, 0% 0%);
}

/* CARD-PRICING */
.price-now {
  font-weight: 500;
  margin-right: 0.5rem;
}

.price-before {
  text-decoration: line-through;
  opacity: 0.7;
  margin-right: 0.5rem;
}

.price-discount {
  color: var(--danger-color);
}

/* CARD ICON */
.card-icon {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.card-icon > svg {
  height: 2rem;
  fill: var(--secondary-color);
  transition: fill 200ms ease-in-out;
}

.card-icon:hover svg {
  fill: var(--danger-color);
}

/* FOOTER */
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
